.saveButton {
  background-color: blue;
  color:white;
  height:50px;
  width:150px
}

.saveButton:disabled {
  background: #ccc;
  cursor: not-allowed; 
}


canvas {
  border: 1px solid black;
}

td { 
  padding: 10px;
  vertical-align: top;
}
.control {
  font: 12px 'Lucida Grande', sans-serif;
  padding: 5px;
} 
